.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  width: 100px;
  border: none;
}

.label {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
}
