.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.timer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 165px;
  line-height: 0.75;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.button {
  background: none;
  border: none;
  padding: 1rem 0;
  font-size: 35px;
  font-weight: bolder;
  line-height: 0;
}

.break {
  color: rgba(0, 128, 0, 0.394);
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.type {
  font-size: 125px;
  margin: 0;
  line-height: 0.75;
}
